<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<title>RSS Feeds</title>
</head>
<body>
	<body>
		<h1>RSS Feeds de Notícias</h1>
		{% for article in articles %}
			<b><a href="{{article.link}}">{{article.title}}</a></b><br />
			<i>{{article.published}}</i><br />
			<p>{{article.summary}}</p>
			<hr />
		{% endfor %}
	</body>
</body>
</html>